<h2>User List</h2>

<table class="table table-striped border border-secondary mx-auto w-100">
  <thead class="table-primary">
  <tr>
    <th scope="col">#</th>
    <th scope="col">Parent Email</th>
    <th scope="col">Email</th>
    <th scope="col">Total Deposit</th>
    <th scope="col">Member Total Deposits</th>
    <th scope="col">Coins</th>
    <th scope="col">Total Used Coins</th>
    <th scope="col">Children Members</th>
    <th scope="col">Phone Number</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each_with_index do |user, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= user.parent&.email || 'N/A' %></td>
      <td><%= user.email %></td>
      <td><%= user.total_deposit %></td>
      <td><%= (user.children.present? ? user.children.sum { |child| child.total_deposit || 0 } : 0) %></td>


      <td><%= user.coins %></td>
      <td><%= "total used coins" %></td>
      <td><%= user.children_members %></td>
      <td><%= user.phone || 'N/A' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
