<%= render partial: 'client/shared/profile' %>

<h3 class="mt-5">Your Winning History</h3>
<table class="table mb-5">
  <thead>
  <tr>
    <th>Item</th>
    <th>Batch Count</th>
    <th>Coins</th>
    <th>State</th>
    <th>Serial Number</th>
    <th>Created At</th>
  </tr>
  </thead>
  <tbody>
  <% @tickets.each do |ticket| %>
    <tr>
      <td><%= ticket.item.name %></td>
      <td><%= ticket.batch_count %></td>
      <td><%= ticket.coins %></td>
      <td><%= ticket.state %></td>
      <td><%= ticket.serial_number %></td>
      <td><%= ticket.created_at.strftime('%b %d, %Y') %></td>
    </tr>
  <% end %>
  </tbody>
</table>