<%= render partial: 'client/shared/profile' %>

<h3 class="mt-5">Your Winning History</h3>
<table class="table mb-5">
  <thead>
  <tr>
    <th>#</th>
    <th>Item</th>
    <th>Batch Count</th>
    <th>Coins</th>
    <th>State</th>
    <th>Serial Number</th>
    <th>Created At</th>
    <th>Actions</th>
    <th>Share</th>
  </tr>
  </thead>
  <tbody>
  <% if @winners.empty? %>
    <tr>
      <td colspan="8" class="text-center">No winning history available.</td>
    </tr>
  <% else %>
    <% @winners.each_with_index do |winner, numbering| %>
      <tr>
        <td><%= numbering + 1 %></td>
        <td><%= winner.ticket.item.name %></td>
        <td><%= winner.ticket.batch_count %></td>
        <td><%= winner.ticket.coins %></td>
        <td><%= winner.state %></td>
        <td><%= winner.ticket.serial_number %></td>
        <td><%= winner.created_at.strftime('%b %d, %Y') %></td>
        <td>
          <% if winner.state == 'won' %>
            <% if winner.user.user_addresses.exists? %>
              <%= link_to "Claim Prize", edit_client_claim_path(winner), class: "btn btn-primary btn-sm" %>
            <% else %>
              <%= link_to "Claim Prize", new_client_claim_path(winner_id: winner.id), class: "btn btn-primary btn-sm" %>
            <% end %>
          <% else %>
            <span class="text-muted">Already Claimed</span>
          <% end %>
        </td>
        <td>

          <% if winner.may_share? %>
            <%= link_to "Share", edit_client_share_path(winner), class: "btn btn-danger btn-sm" %>
          <% elsif winner.shared? %>
            <span class="text-muted">Shared</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<div class="mt-4 d-flex justify-content-center mb-5">
  <ul class="pagination">
    <li class="page-item <%= 'disabled' if @winners.first_page? %>">
      <%= link_to 'First', request.params.merge(page: 1), class: 'page-link' %>
    </li>

    <li class="page-item <%= 'disabled' if @winners.first_page? %>">
      <%= link_to 'Previous', request.params.merge(page: @winners.prev_page), class: 'page-link' %>
    </li>

    <%
      start_page = [@winners.current_page - 1, 1].max
      end_page = [start_page + 2, @winners.total_pages].min
      start_page = [end_page - 2, 1].max
    %>
    <% (start_page..end_page).each do |page| %>
      <li class="page-item <%= 'active' if page == @winners.current_page %>">
        <%= link_to page, request.params.merge(page: page), class: 'page-link' %>
      </li>
    <% end %>

    <li class="page-item <%= 'disabled' if @winners.last_page? %>">
      <%= link_to 'Next', request.params.merge(page: @winners.next_page), class: 'page-link' %>
    </li>

    <li class="page-item <%= 'disabled' if @winners.last_page? %>">
      <%= link_to 'Last', request.params.merge(page: @winners.total_pages), class: 'page-link' %>
    </li>
  </ul>
</div>