<%= render partial: 'admin/shared/flash_sign_in_out' %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Order List</h2>
</div>

<%= form_with url: admin_order_index_path, method: :get, local: true do %>
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :serial_number, "Serial Number" %>
        <%= text_field_tag :serial_number, params[:serial_number], class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :email, "Customer Email" %>
        <%= text_field_tag :email, params[:email], class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :genre, "Genre" %>
        <%= select_tag :genre, options_for_select([['Select a genre', nil]] + Order.genres.keys.map { |key| [key.humanize, key] }, params[:genre]), class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :offer_id, "Offer" %>
        <%= select_tag :offer_id, options_for_select([['Select an offer', nil]] + Offer.all.pluck(:name, :id), params[:offer_id]), class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :start_date, "Start Date" %>
        <%= date_field_tag :start_date, params[:start_date], class: 'form-control' %>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :end_date, "End Date" %>
        <%= date_field_tag :end_date, params[:end_date], class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :state, "State" %>
        <%= select_tag :state, options_for_select([['Select a state', nil]] + Order.aasm.states.map { |state| [state.name.to_s.humanize, state.name] }, params[:state]), class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= submit_tag "Filter", class: 'btn btn-primary' %>
  </div>
<% end %>

<table class="table table-striped table-bordered mt-5 table-responsive">
  <thead class="thead-dark">
  <tr>
    <th>#</th>
    <th>Offer</th>
    <th>Customer</th>
    <th>Serial Number</th>
    <th>State</th>
    <th>Amount</th>
    <th>Coins</th>
    <th>Remark</th>
    <th>Genre</th>
    <th>Created at</th>
    <th>Order State</th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each_with_index do |order, numbering| %>
    <tr>
      <td><%= numbering + 1 %></td>
      <td><%= order.offer&.name %></td>
      <td><%= order.user.email %></td>
      <td><%= order.serial_number %></td>
      <td><%= order.state %></td>
      <td><%= order.amount %></td>
      <td><%= order.coin %></td>
      <td><%= order.remarks %></td>
      <td><%= order.genre %></td>
      <td><%= order.created_at.strftime("%B %d, %Y") %></td>
      <td>
        <%= button_to 'Submit', submit_admin_order_path(order), method: :put, data: { confirm: 'Are you sure you want to submit?' }, class: 'btn btn-primary btn-sm' %>
        <%= button_to 'Cancel', cancel_admin_order_path(order), method: :put, class: 'btn btn-warning btn-sm' %>
        <%= button_to 'Pay', pay_admin_order_path(order), method: :put, class: 'btn btn-success btn-sm' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="card mt-3">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <!-- Subtotal Section -->
      <div>
        <h5 class="card-title">Subtotal:</h5>
        <p class="card-text">Amount: <%= number_to_currency(@subtotal_amount, unit: "₱", precision: 2) %></p>
        <p class="card-text">Coins: <%= @subtotal_coins %></p>
      </div>

      <!-- Total Section -->
      <div>
        <h5 class="card-title">Total:</h5>
        <p class="card-text">Amount: <%= number_to_currency(@total_amount, unit: "₱", precision: 2) %></p>
        <p class="card-text">Coins: <%= @total_coins %></p>
      </div>
    </div>
  </div>
</div>

<div class="mt-4 d-flex justify-content-center">
  <ul class="pagination">
    <!-- First Page Button -->
    <li class="page-item <%= 'disabled' if @orders.first_page? %>">
      <%= link_to 'First', request.params.merge(page: 1), class: 'page-link' %>
    </li>

    <!-- Previous Button -->
    <li class="page-item <%= 'disabled' if @orders.first_page? %>">
      <%= link_to 'Previous', request.params.merge(page: @orders.prev_page), class: 'page-link' %>
    </li>

    <!-- Page Numbers -->
    <% (1..@orders.total_pages).each do |page| %>
      <li class="page-item <%= 'active' if page == @orders.current_page %>">
        <%= link_to page, request.params.merge(page: page), class: 'page-link' %>
      </li>
    <% end %>

    <!-- Next Button -->
    <li class="page-item <%= 'disabled' if @orders.last_page? %>">
      <%= link_to 'Next', request.params.merge(page: @orders.next_page), class: 'page-link' %>
    </li>

    <!-- Last Page Button -->
    <li class="page-item <%= 'disabled' if @orders.last_page? %>">
      <%= link_to 'Last', request.params.merge(page: @orders.total_pages), class: 'page-link' %>
    </li>
  </ul>
</div>

