<%= render partial: 'admin/shared/flash_sign_in_out' %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Item List</h2>
  <div class="d-flex ms-auto">
    <%= link_to 'New Item', new_admin_item_path, class: 'btn btn-primary me-2' %>
    <%= link_to 'View   Category', admin_categories_path, class: 'btn btn-success' %>
  </div>
</div>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Quantity</th>
    <th>Minimum Tickets</th>
    <th>State</th>
    <th>Batch Count</th>
    <th>Online at</th>
    <th>Offline at</th>
    <th>Start at</th>
    <th>Status</th>
    <th>Category</th>
    <th>Actions</th>
    <th>Item State</th>
  </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= image_tag item.item_image.url, size: "100x100" if item.item_image.present? %></td>
      <td><%= item.quantity %></td>
      <td><%= item.minimum_tickets %></td>
      <td><%= item.state %></td>
      <td><%= item.batch_count %></td>
      <td><%= item.online_at %></td>
      <td><%= item.offline_at %></td>
      <td><%= item.start_at %></td>
      <td><%= item.status %></td>
      <td><%= item.categories.pluck(:name).join(', ') %></td>
      <td>
        <%= link_to admin_item_path(item), class: 'btn btn-info' do %>
          <i class="bi bi-eye"></i>
        <% end %>
        <%= link_to edit_admin_item_path(item), class: 'btn btn-warning' do %>
          <i class="bi bi-pencil-square"></i>
        <% end %>
        <%= button_to admin_item_path(item), method: :delete, data: { turbo_method: 'delete', confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
          <i class="bi bi-trash"></i>
        <% end %>
      </td>
      <td>
        <% if item.pending? || item.ended? || item.cancelled? %>
          <%= button_to start_admin_item_path(item), method: :put, class: 'btn btn-success' do %>
            <i class="bi bi-play-fill"></i>
          <% end %>
        <% end %>

        <% if item.starting? %>
          <%= button_to pause_admin_item_path(item), method: :put, class: 'btn btn-warning' do %>
            <i class="bi bi-pause-fill"></i>
          <% end %>
          <%= button_to end_admin_item_path(item), method: :put, class: 'btn btn-danger' do %>
            <i class="bi bi-stop-circle"></i>
          <% end %>
          <%= button_to cancel_admin_item_path(item), method: :put, class: 'btn btn-secondary' do %>
            <i class="bi bi-x-circle-fill"></i>
          <% end %>
        <% end %>

        <% if item.paused? %>
          <%= button_to start_admin_item_path(item), method: :put, class: 'btn btn-success' do %>
            <i class="bi bi-play-fill"></i>
          <% end %>
          <%= button_to cancel_admin_item_path(item), method: :put, class: 'btn btn-secondary' do %>
            <i class="bi bi-x-circle-fill"></i>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%# if item.may_start? %>
  <%#= button_to 'Start', start_admin_item_path(item), method: :put, class: 'btn btn-success' %>
<%# elsif item.may_pause? %>
  <%#= button_to 'Pause', pause_admin_item_path(item), method: :put, class: 'btn btn-warning' %>
<%# elsif item.may_end? %>
  <%#= button_to 'End', end_admin_item_path(item), method: :put, class: 'btn btn-danger' %>
<%# elsif item.may_cancel? %>
  <%#= button_to 'Cancel', cancel_admin_item_path(item), method: :put, class: 'btn btn-secondary' %>
<%# else %>
  <%#= button_to item.state.titleize, '#', class: 'btn btn-info', disabled: true %>
<%# end %>
