<%= render partial: 'admin/shared/flash_sign_in_out' %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Item List</h2>
  <div class="d-flex ms-auto">
    <%= link_to 'New Item', new_admin_item_path, class: 'btn btn-primary me-2' %>
    <%= link_to 'View   Category', admin_categories_path, class: 'btn btn-success' %>
  </div>
</div>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Quantity</th>
    <th>Minimum Tickets</th>
    <th>State</th>
    <th>Batch Count</th>
    <th>Online at</th>
    <th>Offline at</th>
    <th>Start at</th>
    <th>Status</th>
    <td>Category</td>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= image_tag item.item_image.url, size: "100x100" if item.item_image.present? %></td>
      <td><%= item.quantity %></td>
      <td><%= item.minimum_tickets %></td>
      <td><%= item.state %></td>
      <td><%= item.batch_count %></td>
      <td><%= item.online_at %></td>
      <td><%= item.offline_at %></td>
      <td><%= item.start_at %></td>
      <td><%= item.status %></td>
      <td><%= item.categories.pluck(:name).join(', ') %></td>
      <td>
        <%= link_to 'Show', admin_item_path(item), class: 'btn btn-info' %>
        <%= link_to 'Edit', edit_admin_item_path(item), class: 'btn btn-warning' %>
        <%= button_to 'Delete', admin_item_path(item), method: :delete, data: { turbo_method: 'delete', confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
