<%= render partial: 'client/shared/profile' %>

<h3 class="mt-5">Your Order History</h3>
<table class="table mb-5">
  <thead>
  <tr>
    <th>Order ID</th>
    <th>Offer</th>
    <th>Amount</th>
    <th>Status</th>
    <th>Created At</th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.offer.name %></td>
      <td><%= order.amount %></td>
      <td><%= order.state %></td>
      <td><%= order.created_at.strftime('%b %d, %Y') %></td>
    </tr>
  <% end %>
  </tbody>
</table>