<%= render partial: 'client/shared/profile' %>

<h3 class="mt-5">Your Invite List</h3>
<table class="table mb-5">
  <thead>
  <tr>
    <th>Invited User</th>
    <th>Created At</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.created_at.strftime('%b %d, %Y') %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="mt-4 d-flex justify-content-center mb-5">
  <ul class="pagination">
    <li class="page-item <%= 'disabled' if @users.first_page? %>">
      <%= link_to 'First', request.params.merge(page: 1), class: 'page-link' %>
    </li>

    <li class="page-item <%= 'disabled' if @users.first_page? %>">
      <%= link_to 'Previous', request.params.merge(page: @users.prev_page), class: 'page-link' %>
    </li>

    <%
      start_page = [@users.current_page - 1, 1].max
      end_page = [start_page + 2, @users.total_pages].min
      start_page = [end_page - 2, 1].max
    %>
    <% (start_page..end_page).each do |page| %>
      <li class="page-item <%= 'active' if page == @users.current_page %>">
        <%= link_to page, request.params.merge(page: page), class: 'page-link' %>
      </li>
    <% end %>

    <li class="page-item <%= 'disabled' if @users.last_page? %>">
      <%= link_to 'Next', request.params.merge(page: @users.next_page), class: 'page-link' %>
    </li>

    <li class="page-item <%= 'disabled' if @users.last_page? %>">
      <%= link_to 'Last', request.params.merge(page: @users.total_pages), class: 'page-link' %>
    </li>
  </ul>
</div>