<!--Edit Address Form-->
<div class="container d-flex justify-content-center align-items-center mt-5 mb-5" style="min-height: 80vh;">
  <div class="card bg-light text-dark p-4" style="width: 100%; max-width: 600px;">
    <h1 class="text-center mb-4">Edit Address</h1>

    <%= form_with(model: @user_address, url: client_user_address_path(@user_address), data: { controller: :location, turbo: false }) do |form| %>
      <%= render partial: 'client/shared/validation_address' %>

      <div class="form-group mb-3">
        <%= form.label :genre, class: 'form-label' %>
        <%= form.select :genre, UserAddress.genres.keys.map { |genre| [genre.humanize, genre] }, prompt: 'Select genre', class: 'form-select' %>
      </div>

      <div class="form-group mb-3">
        <%= form.label :name, class: 'form-label' %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group mb-3">
        <%= form.label :street_address, class: 'form-label' %>
        <%= form.text_field :street_address, class: 'form-control' %>
      </div>

      <div class="form-group mb-3">
        <%= form.label :phone_number, 'Phone Number', class: 'form-label' %>
        <%= form.text_field :phone_number, class: 'form-control' %>
      </div>

      <div class="form-group mb-3">
        <%= form.label :remark, class: 'form-label' %>
        <%= form.text_area :remark, class: 'form-control' %>
      </div>

      <div class="form-group mb-3">
        <%= form.label :is_default, class: 'form-label' %>
        <%= form.check_box :is_default, class: 'form-check-input' %>
        <%= form.label :is_default, "Set as Default Address", class: 'form-check-label' %>
      </div>

      <div class="form-group mb-3">
        <%= form.label :region_id, 'Region', class: 'form-label' %>
        <%= form.collection_select :region_id, Address::Region.all, :id, :name,
                                   { prompt: 'Select a region', selected: @address&.region_id },
                                   class: 'form-select',
                                   data: { location_target: 'selectedRegionId', action: 'change->location#fetchProvinces' } %>
      </div>

      <div class="form-group mb-3">
        <%= form.label :province_id, 'Province', class: 'form-label' %>
        <%= form.collection_select :province_id, Address::Province.where(region_id: @address&.region_id), :id, :name,
                                   { prompt: 'Select a province', selected: @address&.province_id },
                                   class: 'form-select',
                                   data: { location_target: 'selectedProvinceId', action: 'change->location#fetchCities' } %>
      </div>

      <div class="form-group mb-3">
        <%= form.label :city_id, 'City', class: 'form-label' %>
        <%= form.collection_select :city_id, Address::City.where(province_id: @address&.province_id), :id, :name,
                                   { prompt: 'Select a city', selected: @address&.city_id },
                                   class: 'form-select',
                                   data: { location_target: 'selectedCityId', action: 'change->location#fetchBarangays' } %>
      </div>

      <div class="form-group mb-3">
        <%= form.label :barangay_id, 'Barangay', class: 'form-label' %>
        <%= form.collection_select :barangay_id, Address::Barangay.where(city_id: @address&.city_id), :id, :name,
                                   { prompt: 'Select a barangay', selected: @address&.barangay_id },
                                   class: 'form-select',
                                   data: { location_target: 'selectedBarangayId' } %>
      </div>

      <div class="form-group text-center mb-3">
        <%= form.submit "Save Address", class: 'btn btn-primary w-100' %>
      </div>
    <% end %>

    <div class="form-group text-center mb-3">
      <%= link_to 'Back', client_user_addresses_path, class: 'btn btn-success w-100' %>
    </div>
  </div>
</div>