<%= render partial: 'client/shared/profile' %>

<h3 class="mt-5">Your Order History</h3>
<table class="table mb-5">
  <thead>
  <tr>
    <th>#</th>
    <th>Offer</th>
    <th>Serial Number</th>
    <th>State</th>
    <th>Amount</th>
    <th>Coins</th>
    <th>Remarks</th>
    <th>Genre</th>
    <th>Created At</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% if @orders.empty? %>
    <tr>
      <td colspan="10" class="text-center">No order history available.</td>
    </tr>
  <% else %>
    <% @orders.each_with_index do |order, numbering| %>
      <tr>
        <td><%= numbering + 1 %></td>
        <td><%= order.offer.name %></td>
        <td><%= order.serial_number %></td>
        <td><%= order.state %></td>
        <td><%= order.amount %></td>
        <td><%= order.coin %></td>
        <td><%= order.remarks %></td>
        <td><%= order.genre %></td>
        <td><%= order.created_at.strftime('%b %d, %Y') %></td>
        <td>
          <% if order.may_cancel? %>
            <% if order.submitted? %>
              <%= button_to 'Cancel Order', cancel_client_order_path(order), method: :put, class: 'btn btn-danger btn-sm d-inline' %>
            <% end %>
          <% elsif order.cancelled? %>
            <span class="text-muted">Cancelled</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>