<%= render partial: 'admin/shared/flash_sign_in_out' %>

<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Ticket List</h2>
</div>

<%= form_with url: admin_ticket_index_path, method: :get, local: true do %>
  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :serial_number, "Serial Number" %>
        <%= text_field_tag :serial_number, params[:serial_number], class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :item_name, "Item Name" %>
        <%= text_field_tag :item_name, params[:item_name], class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :email, "Email" %>
        <%= text_field_tag :email, params[:email], class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :state, "State" %>
        <%= select_tag :state, options_for_select([['Select a state', nil], 'pending', 'won', 'lost', 'cancelled'], params[:state]), class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :start_date, "Start Date" %>
        <%= date_field_tag :start_date, params[:start_date], class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :end_date, "End Date" %>
        <%= date_field_tag :end_date, params[:end_date], class: 'form-control' %>
      </div>
    </div>
  </div>

  <%= submit_tag "Filter", class: 'btn btn-primary' %>
<% end %>

<table class="table table-striped table-bordered mt-5 table-responsive">
  <thead class="thead-dark">
  <tr>
    <th>#</th>
    <th>Item</th>
    <th>User</th>
    <th>Batch Count</th>
    <th>Coins</th>
    <th>State</th>
    <th>Serial Number</th>
    <th>Created At</th>
  </tr>
  </thead>
  <tbody>
  <% @tickets.each_with_index do |ticket, numbering| %>
    <tr>
      <td><%= numbering+1 %></td>
      <td><%= ticket.item&.name %></td>
      <td><%= ticket.user.email %></td>
      <td><%= ticket.batch_count %></td>
      <td><%= ticket.coins %></td>
      <td><%= ticket.state %></td>
      <td><%= ticket.serial_number %></td>
      <td><%= ticket.created_at.strftime("%B %d, %Y") %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="mt-4 d-flex justify-content-center mb-5">
  <ul class="pagination">
    <li class="page-item <%= 'disabled' if @tickets.first_page? %>">
      <%= link_to 'First', request.params.merge(page: 1), class: 'page-link' %>
    </li>

    <li class="page-item <%= 'disabled' if @tickets.first_page? %>">
      <%= link_to 'Previous', request.params.merge(page: @tickets.prev_page), class: 'page-link' %>
    </li>

    <%
      start_page = [@tickets.current_page - 1, 1].max
      end_page = [start_page + 2, @tickets.total_pages].min
      start_page = [end_page - 2, 1].max
    %>
    <% (start_page..end_page).each do |page| %>
      <li class="page-item <%= 'active' if page == @tickets.current_page %>">
        <%= link_to page, request.params.merge(page: page), class: 'page-link' %>
      </li>
    <% end %>

    <li class="page-item <%= 'disabled' if @tickets.last_page? %>">
      <%= link_to 'Next', request.params.merge(page: @tickets.next_page), class: 'page-link' %>
    </li>

    <li class="page-item <%= 'disabled' if @tickets.last_page? %>">
      <%= link_to 'Last', request.params.merge(page: @tickets.total_pages), class: 'page-link' %>
    </li>
  </ul>
</div>