<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to 'SYSTEM MANAGEMENT', admin_home_path, class: 'navbar-brand' %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto me-5">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Change Language</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= current_admin_user.username %>
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><%= button_to 'Sign Out', destroy_admin_user_session_path, method: :delete, class: 'dropdown-item' %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="d-flex">
  <!-- Sidebar -->
  <div class="bg-light" style="width: 250px; min-height: 100vh;">
    <div class="list-group list-group-flush">
      <%= link_to 'Homepage', admin_home_path, class: 'list-group-item list-group-item-action' %>

      <!-- Member Management -->
      <a href="#memberManagement" class="list-group-item list-group-item-action" data-bs-toggle="collapse">
        Member Management
      </a>
      <div class="collapse ps-3" id="memberManagement">
        <a href="#" class="list-group-item list-group-item-action">User List</a>
        <a href="#" class="list-group-item list-group-item-action">Item List</a>
      </div>

      <!-- Dashboard -->
      <a href="#dashboardMenu" class="list-group-item list-group-item-action" data-bs-toggle="collapse">
        Dashboard
      </a>
      <div class="collapse ps-3" id="dashboardMenu">
        <a href="#" class="list-group-item list-group-item-action">Overview</a>
        <a href="#" class="list-group-item list-group-item-action">Weekly</a>
        <a href="#" class="list-group-item list-group-item-action">Monthly</a>
        <a href="#" class="list-group-item list-group-item-action">Annually</a>
      </div>

      <!-- Orders -->
      <a href="#ordersMenu" class="list-group-item list-group-item-action" data-bs-toggle="collapse">
        Orders
      </a>
      <div class="collapse ps-3" id="ordersMenu">
        <a href="#" class="list-group-item list-group-item-action">New</a>
        <a href="#" class="list-group-item list-group-item-action">Processed</a>
        <a href="#" class="list-group-item list-group-item-action">Shipped</a>
        <a href="#" class="list-group-item list-group-item-action">Returned</a>
      </div>
    </div>
  </div>

  <!-- Main Content -->
  <div class="flex-grow-1 p-3 m-5">
    <h1>Hi <%= current_admin_user.username %></h1>

    <% if flash[:notice] %>
      <p class="flash notice"><%= flash[:notice] %></p>
    <% end %>

    <% if flash[:alert] %>
      <p class="flash alert"><%= flash[:alert] %></p>
    <% end %>
  </div>
</div>
