<%= render 'admin/shared/flash_sign_in_out' %>

<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="text-primary">Categories</h1>
    <%= link_to 'New Category', new_admin_category_path, class: 'btn btn-primary' %>
  </div>

  <table class="table table-bordered table-hover shadow-sm">
    <thead class="table-dark">
    <tr>
      <th>Title</th>
      <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td class="text-center">
          <div class="d-inline-flex gap-2">
            <%= link_to 'Edit', edit_admin_category_path(category), class: 'btn btn-warning btn-sm' %>
            <%= button_to 'Delete', admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="mt-4">
    <%= link_to 'Back to Item List', admin_items_path, class: 'btn btn-secondary' %>
  </div>
</div>

<div class="mt-4 d-flex justify-content-center mb-5">
  <ul class="pagination">
    <li class="page-item <%= 'disabled' if @categories.first_page? %>">
      <%= link_to 'First', request.params.merge(page: 1), class: 'page-link' %>
    </li>

    <li class="page-item <%= 'disabled' if @categories.first_page? %>">
      <%= link_to 'Previous', request.params.merge(page: @categories.prev_page), class: 'page-link' %>
    </li>

    <%
      start_page = [@categories.current_page - 1, 1].max
      end_page = [start_page + 2, @categories.total_pages].min
      start_page = [end_page - 2, 1].max
    %>
    <% (start_page..end_page).each do |page| %>
      <li class="page-item <%= 'active' if page == @categories.current_page %>">
        <%= link_to page, request.params.merge(page: page), class: 'page-link' %>
      </li>
    <% end %>

    <li class="page-item <%= 'disabled' if @categories.last_page? %>">
      <%= link_to 'Next', request.params.merge(page: @categories.next_page), class: 'page-link' %>
    </li>

    <li class="page-item <%= 'disabled' if @categories.last_page? %>">
      <%= link_to 'Last', request.params.merge(page: @categories.total_pages), class: 'page-link' %>
    </li>
  </ul>
</div>