<div class="d-flex justify-content-between align-items-center mb-3">
  <h2>Invite List</h2>
</div>

<%= form_with url: admin_invite_list_index_path, method: :get, local: true, class: "mb-4" do |f| %>
  <div class="input-group">
    <%= f.label :parent_email, "Search by Parent Email", class: "form-label" %>
    <%= f.text_field :parent_email, value: params[:parent_email], placeholder: "Enter Parent Email", class: "form-control" %>
    <div class="input-group-append">
      <%= f.submit "Search", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>
    <th>Parent Email</th>
    <th>Email</th>
    <th>Total Deposit</th>
    <th>Member Total Deposit</th>
    <th>Coins</th>
    <th>Created At</th>
    <th>Used Coins Count</th>
    <th>Child Members</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.parent_email %></td>
      <td><%= user.email %></td>
      <td><%= user.total_deposit || 0 %></td>
      <td><%= user.children.sum(:total_deposit) %> </td>
      <td><%= user.coins || 0 %></td>
      <td><%= user.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= @total_used_coins[user.id] || 0 %></td>
      <td><%= user.children_members || 0 %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="mt-4 d-flex justify-content-center mb-5">
  <ul class="pagination">
    <li class="page-item <%= 'disabled' if @users.first_page? %>">
      <%= link_to 'First', request.params.merge(page: 1), class: 'page-link' %>
    </li>

    <li class="page-item <%= 'disabled' if @users.first_page? %>">
      <%= link_to 'Previous', request.params.merge(page: @users.prev_page), class: 'page-link' %>
    </li>

    <%
      start_page = [@users.current_page - 1, 1].max
      end_page = [start_page + 2, @users.total_pages].min
      start_page = [end_page - 2, 1].max
    %>
    <% (start_page..end_page).each do |page| %>
      <li class="page-item <%= 'active' if page == @users.current_page %>">
        <%= link_to page, request.params.merge(page: page), class: 'page-link' %>
      </li>
    <% end %>

    <li class="page-item <%= 'disabled' if @users.last_page? %>">
      <%= link_to 'Next', request.params.merge(page: @users.next_page), class: 'page-link' %>
    </li>

    <li class="page-item <%= 'disabled' if @users.last_page? %>">
      <%= link_to 'Last', request.params.merge(page: @users.total_pages), class: 'page-link' %>
    </li>
  </ul>
</div>